* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif,Arial, Helvetica;
}

@media (max-width:450px) {
  /* Navigation bar */ 
  .navbar .search-bar {
    order: 500;
    width: 0.2rem;
    height: auto;
  }
}

@media (min-width:600px){
  .dashboard .buttons {
    justify-content: end !important;
  }
}

@media (max-width:1680px){
  .widget-container {
    width: 97%;
  }
}

/* Navigation bar */ 
.navbar {
  background-color: white;
  padding: 0px 10px;
  width: 100%;
  height: 2.8rem;
  position: fixed;
  top: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navbar .title {  
  font-weight: 600;
  color: rgb(41, 41, 213);

  flex-shrink: 1;
  flex-grow: 3;
}

.navbar .search-bar {
  flex-shrink: 2;
  flex-grow: 2;
}

.navbar .search-bar-input {
  border: 2px solid rgb(160, 159, 159);
  border-radius: 5px;
  width:100%;
  display: inline-block;
  padding: 0.3rem;
}

.navbar .more-items{
  flex-shrink: 1;
  flex-grow: 1;
  
  /* new felx for icons */  
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-evenly;
  align-items: center;
}

.navbar .icons{
  cursor: pointer;
}



/* Dashboard */
.dashboard {
  background-color: rgb(227, 231, 233);
  width: 100%;
    
  /* padding given for the navbar */
  padding-top: 2.8rem; 
}

.dashboard .dashboard-head {
  height: 4.5rem;
  margin: 1rem 0rem 1.7rem 0rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dashboard-head .title {
font-weight: 700;
font-size: 1.5rem;
margin-left: 1rem;
white-space: nowrap;

flex-grow: 1;
flex-shrink: 2;
}

.dashboard-head .buttons {
  margin: 0rem 1rem;
  height: 100%;
  flex-grow: 3;
  flex-shrink: 1;

  /* new felx for buttons */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.dashboard-head .btn {  
  background-color: rgb(252, 252, 238);
  margin-right: 0.8rem;
  padding: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.dashboard-head .buttons #add-widget{
  border: 1px solid rgb(186, 186, 186);
  border-radius: 5px;
}

.dashboard-head .buttons #refresh{
  border: 1px solid rgb(186, 186, 186);
  border-radius: 5px;
}

.dashboard-head .buttons #more{
  border: 1px solid rgb(186, 186, 186);
  border-radius: 5px;
}

.dashboard-head .buttons #date{
  border: 1px solid rgb(32, 26, 141);
  border-radius: 5px;
  color: rgb(32, 26, 141);
  font-weight: 600;
  margin-right: 0rem;
}

.dashboard .dashboard-body{
  display: flex;
  flex-flow: column nowrap;
  align-items:center;
}



/* widget-container */
.widget-container {
  background-color: rgba(242, 242, 232, 0.792);
  border-radius: 2rem;
  margin-top: 1rem;
  padding:1rem;
}

.widget-container-title{
  font-weight: 600;
}

.widget-container-body{
  background-color: rgba(152, 195, 247, 0.253);
  border-radius: 2rem;
  width: 100%;
  padding: 0.5rem; 

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}


/* Widget */
.widget {
  border-radius: 1.7rem;
  background-color: #f6f6f6;
  width: 30rem;
  height: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;
}

.widget-title {
  border: 2px solid black;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
}

.widget .widget-body {
  border: 2px solid black;
  height: 82%;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}


/* Empty Widget */
.empty-widget{
  border-radius: 1.7rem;
  background-color: #f6f6f6;
  width: 30rem;
  height: 20rem;
  margin: 0.5rem;
  padding: 1.5rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.empty-widget .empty-widget-btn {
  border: 2px solid rgb(186, 186, 186);
  color:rgb(139, 139, 139);
  border-radius: 5px;
  padding: 5px;
}